* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Oswald', sans-serif;
}

hr {
  border: 2px solid #003049;
  width: 80vw;
  margin: 40px auto;
  border-radius: 40%;
}


/* Navbar css */
.nav_sec {
  background-color: #003049;
  padding: 0 20px;
}

.navbar {
  position: relative;
}

.nav_sec .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #EAE2B7;
}

.nav_sec span {
  color: #EAE2B7;
}

.nav_sec .collapse {
  /* border: 1px solid #EAE2B7; */
}

.nav_sec .collapse .navbar-nav li a{
  color: #EAE2B7;
  transition: all 0.3s;
}

.nav_sec .collapse .navbar-nav li a:hover{
  color: #D62828;
}

.nav_sec .nav_right i {
  color: #EAE2B7;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav_sec .nav_right i:hover {
  color: #D62828;
}

.navbar-toggler:focus {
  border: 3px solid #D62828;
  border-radius: 0.375rem;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.navbar-brand, .nav_right {
  /* border: 1px solid #E24647; */
}



/* carousel css*/
.cyber_carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* border: 2px solid red; *
  /* background-color: #e2464675; */
  background-color: #eae2b786;
}



.cyber_carousel .carousel-inner{
  position: relative;
  height: 50vh;
  min-height: 300px;
  max-height: 500px;
  
}

.cyber_carousel .carousel-item{
  height: 100%;
  /* border: 2px solid green; */
}



.cyber_carousel .carousel-indicators button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2727275d;
  margin: 0px 5px;
}

.cyber_carousel .carousel-indicators button:hover{
  background-color: #E24647;
}

.cyber_carousel .carousel-indicators button.active{
  background-color: #E24647;
}


.cyber_carousel .carousel-control-next, .carousel-control-prev{
  /* background-color: #E24647; */
  width: 10%;
}

.cyber_carousel .carousel-control-next span, .carousel-control-prev span{
  color: #D62828;
  font-size: 45px;
  font-weight: 900;
  transition: all 0.3s;
}


.cyber_carousel .carousel-item .carousel-content{
  height: 100%;
  gap: 10px;
  padding: 10px;
}

.cyber_carousel .carousel-item .carousel-content h3{
  font-size: 30px;
  font-weight: 400;
  color: #003049;
}

.cyber_carousel .carousel-item .carousel-content h1{
  font-size: 36x;
  font-weight: 500;
  color: #D62828;
  text-shadow: 3px 3px #aaa;
}

.cyber_carousel .carousel-item .carousel-content img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin: 1rem 0;
  filter: drop-shadow(3px 3px 10px #000);
  /* border: 2px solid #E24647; */
  transition: all 0.3s;
}

.cyber_carousel .carousel-item .carousel-content img#shoe1{
  transform: scaleX(-1);
}



.cyber_carousel .carousel-item .carousel-item-left{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: end;
  /* border: 1px solid blue; */
  flex-direction: column;
  text-align: end;
}

.cyber_carousel .carousel-item .carousel-item-right{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  /* border: 1px solid blue; */
  flex-direction: column;
}

.cyber_carousel .carousel-item h1{
  font-size: 40px;
}


 /* products css */

.products_title h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
  font-weight: 200;
  color: #003049;
  text-transform: uppercase;
}

.card {
  min-height: 412px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.card a img{
  background-color: #eae2b748;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  
}

h5.card-title {
  color: rgb(33, 33, 33);
  font-weight: 600;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

h5.card-title:hover {
  color: #D62828;
}

p.card-text {
  color: rgb(68, 68, 68);
  font-weight: 300;
}

h3.card-text {
  color: #D62828;
  font-weight: 400;
}

.card-body h5, .card-body p {
  color: #003049;
}

#cart_btn {
  padding: 18px; 
  background-color: #003049; 
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s;
  color: #FFF;
}

#cart_btn:hover {
  background-color: #D62828;
}


/* Footer css */
footer {
  background-color: #003049;
}

footer .footer_social a{
  color: #EAE2B7;
}

footer .footer_social i{
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #EAE2B7;
  transition: all .5s;
}

footer .footer_social a:hover i{
  border: 1px solid #D62828;
  color: #D62828;
}

footer .footer_copy {
  color: #EAE2B7;
}

footer .footer_copy a{
  text-decoration: none;
  color: #EAE2B7;
  transition: all 0.5s;
}

footer .footer_copy a:hover{
  color: #D62828;
}

footer hr {
  border: 2px solid #EAE2B7;
}

/* Media Queries */

@media screen and (max-width: 576px) {
  h5.card-title {
    font-size: 16px;
  }

  p.card-text {
    font-size: 14px;
  }
  
  h3.card-text {
    font-size: 14px;
  }

  #cart_btn {
    padding: 10px; 
    font-size: 14px;
  }
  /* .cyber_carousel .carousel-item .carousel-content img{
    width: 100%;
  } */

  .cyber_carousel .carousel-item .carousel-content h3{
    font-size: 24px;
  }
  
  .cyber_carousel .carousel-item .carousel-content h1{
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {

  .navbar-collapse .navbar-nav{
    align-items: center;
  }

  .navbar-toggler-icon {
    position: absolute;
    top: 20px;
    right: 5%;
    /* background-color: #E24647; */
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
    line-height: 34px;
  }

  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    border: 0px solid transparent;
    outline: none;
    box-shadow: none;
  }

  .nav_right {
    justify-content: center;
  }
}

@media screen and (min-width: 1400px)  {
  .cyber_carousel .carousel-control-next, .carousel-control-prev{
    /* background-color: #E24647; */
    width: 5%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px){
  .cyber_carousel .carousel-control-next, .carousel-control-prev{
    /* background-color: #E24647; */
    width: 7%;
  }
}


  
